<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dadosdosjogos2020oficial">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DadosDosJogos2020Oficial">
        <activity
            android:name=".activity.italiaA2022a23.UdineseActivity"
            android:exported="true"
            android:label="@string/udinese"
            android:parentActivityName=".activity.brasilA2022.MainActivity"/>

        <activity
            android:name=".activity.italiaA2022a23.TorinoActivity"
            android:exported="true"
            android:label="@string/torino"
            android:parentActivityName=".activity.brasilA2022.MainActivity"/>
        <activity
            android:name=".activity.italiaA2022a23.SpeziaActivity"
            android:exported="true"
            android:label="@string/spezia"
            android:parentActivityName=".activity.brasilA2022.MainActivity"/>
        <activity
            android:name=".activity.italiaA2022a23.SassuoloActivity"
            android:exported="true" />
        <activity
            android:name=".activity.italiaA2022a23.SampdoriaActivity"
            android:exported="true" />
        <activity
            android:name=".activity.italiaA2022a23.SalernitanaActivity"
            android:exported="true" />
        <activity
            android:name=".activity.italiaA2022a23.RomaActivity"
            android:exported="true" />
        <activity
            android:name=".activity.italiaA2022a23.NapoliActivity"
            android:exported="true"
            android:label="@string/napoli"
            android:parentActivityName=".activity.brasilA2022.MainActivity"/>
        <activity
            android:name=".activity.italiaA2022a23.MonzaActivity"
            android:exported="true"
            android:label="@string/monza"
            android:parentActivityName=".activity.brasilA2022.MainActivity"/>
        <activity
            android:name=".activity.italiaA2022a23.MilanActivity"
            android:exported="true"
            android:label="@string/milan"
            android:parentActivityName=".activity.brasilA2022.MainActivity"/>
        <activity
            android:name=".activity.italiaA2022a23.LecceActivity"
            android:exported="true"
            android:label="@string/lecce"
            android:parentActivityName=".activity.brasilA2022.MainActivity"/>
        <activity
            android:name=".activity.italiaA2022a23.LazioActivity"
            android:exported="true"
            android:label="@string/lazio"
            android:parentActivityName=".activity.brasilA2022.MainActivity"/>
        <activity
            android:name=".activity.italiaA2022a23.JuventusActivity"
            android:exported="true"
            android:label="@string/juventus"
            android:parentActivityName=".activity.brasilA2022.MainActivity"/>
        <activity
            android:name=".activity.italiaA2022a23.InterMilanActivity"
            android:exported="true"
            android:label="@string/inter_milan"/>
        <activity
            android:name=".activity.italiaA2022a23.HellasVeronaActivity"
            android:exported="true"
            android:label="@string/hellas_verona"
            android:parentActivityName=".activity.brasilA2022.MainActivity"/>
        <activity
            android:name=".activity.italiaA2022a23.FiorentinaActivity"
            android:exported="true"
            android:label="@string/fiorentina"
            android:parentActivityName=".activity.brasilA2022.MainActivity"/>
        <activity
            android:name=".activity.italiaA2022a23.EmpoliActivity"
            android:exported="true"
            android:label="@string/empoli"
            android:parentActivityName=".activity.brasilA2022.MainActivity"/>
        <activity
            android:name=".activity.italiaA2022a23.CremoneseActivity"
            android:exported="true"
            android:label="@string/cremonese"
            android:parentActivityName=".activity.brasilA2022.MainActivity"/>
        <activity
            android:name=".activity.italiaA2022a23.BolognaActivity"
            android:exported="true"
            android:label="@string/bologna"
            android:parentActivityName=".activity.brasilA2022.MainActivity"/>
        <activity
            android:name=".activity.italiaA2022a23.AtalantaActivity"
            android:exported="true"
            android:label="@string/atalanta"
            android:parentActivityName=".activity.brasilA2022.MainActivity"/>
        <activity
            android:name=".activity.francaA2022a23.TroyesActivity"
            android:exported="true"
            android:label="@string/troyes"
            android:parentActivityName=".activity.brasilA2022.MainActivity"/>
        <activity
            android:name=".activity.francaA2022a23.ToulouseActivity"
            android:exported="true"
            android:label="@string/toulouse"
            android:parentActivityName=".activity.brasilA2022.MainActivity"/>
        <activity
            android:name=".activity.francaA2022a23.StrasbourgActivity"
            android:exported="true"
            android:label="@string/strasbourg"
            android:parentActivityName=".activity.brasilA2022.MainActivity"/>
        <activity
            android:name=".activity.francaA2022a23.RennesActivity"
            android:exported="true"
            android:label="@string/rennes"
            android:parentActivityName=".activity.brasilA2022.MainActivity"/>
        <activity
            android:name=".activity.francaA2022a23.ReimsActivity"
            android:exported="true"
            android:label="@string/reims"
            android:parentActivityName=".activity.brasilA2022.MainActivity"/>
        <activity
            android:name=".activity.francaA2022a23.PsgActivity"
            android:exported="true"
            android:label="@string/psg"
            android:parentActivityName=".activity.brasilA2022.MainActivity"/>
        <activity
            android:name=".activity.francaA2022a23.NiceActivity"
            android:exported="true"
            android:label="@string/nice"
            android:parentActivityName=".activity.brasilA2022.MainActivity"/>
        <activity
            android:name=".activity.francaA2022a23.NantesActivity"
            android:exported="true"
            android:label="@string/nantes"
            android:parentActivityName=".activity.brasilA2022.MainActivity"/>
        <activity
            android:name=".activity.francaA2022a23.MontpellierActivity"
            android:exported="true"
            android:label="@string/montpellier"
            android:parentActivityName=".activity.brasilA2022.MainActivity"/>
        <activity
            android:name=".activity.francaA2022a23.MonacoActivity"
            android:exported="true"
            android:label="@string/monaco"
            android:parentActivityName=".activity.brasilA2022.MainActivity"/>
        <activity
            android:name=".activity.francaA2022a23.MarseilleActivity"
            android:exported="true"
            android:label="@string/marseille"
            android:parentActivityName=".activity.brasilA2022.MainActivity"/>
        <activity
            android:name=".activity.francaA2022a23.LyonActivity"
            android:exported="true"
            android:label="@string/lyon"
            android:parentActivityName=".activity.brasilA2022.MainActivity"/>
        <activity
            android:name=".activity.francaA2022a23.LorientActivity"
            android:exported="true"
            android:label="@string/lorient"
            android:parentActivityName=".activity.brasilA2022.MainActivity"/>
        <activity
            android:name=".activity.francaA2022a23.LilleActivity"
            android:exported="true"
            android:label="@string/lille"
            android:parentActivityName=".activity.brasilA2022.MainActivity"/>
        <activity
            android:name=".activity.francaA2022a23.LensActivity"
            android:exported="true"
            android:label="@string/lens"
            android:parentActivityName=".activity.brasilA2022.MainActivity"/>
        <activity
            android:name=".activity.francaA2022a23.ClermontActivity"
            android:exported="true"
            android:label="@string/clermont"
            android:parentActivityName=".activity.brasilA2022.MainActivity"/>
        <activity
            android:name=".activity.francaA2022a23.BrestActivity"
            android:exported="true"
            android:label="@string/brest"
            android:parentActivityName=".activity.brasilA2022.MainActivity"/>
        <activity
            android:name=".activity.francaA2022a23.AuxerreActivity"
            android:exported="true"
            android:label="@string/auxerre"
            android:parentActivityName=".activity.brasilA2022.MainActivity"/>
        <activity
            android:name=".activity.francaA2022a23.AngersActivity"
            android:exported="true"
            android:label="@string/angers"
            android:parentActivityName=".activity.brasilA2022.MainActivity"/>
        <activity
            android:name=".activity.francaA2022a23.AjaccioActivity"
            android:exported="true"
            android:label="@string/ajaccio"
            android:parentActivityName=".activity.brasilA2022.MainActivity"/>
        <activity
            android:name=".activity.espanhaA2022a23.VillarrealActivity"
            android:exported="true"
            android:label="@string/villarreal"
            android:parentActivityName=".activity.brasilA2022.MainActivity"/>
        <activity
            android:name=".activity.espanhaA2022a23.ValenciaActivity"
            android:exported="true"
            android:label="@string/valencia"
            android:parentActivityName=".activity.brasilA2022.MainActivity"/>
        <activity
            android:name=".activity.espanhaA2022a23.SevillaActivity"
            android:exported="true"
            android:label="@string/sevilla"
            android:parentActivityName=".activity.brasilA2022.MainActivity"/>
        <activity
            android:name=".activity.espanhaA2022a23.RealValladolidActivity"
            android:exported="true"
            android:label="@string/real_valladolid"
            android:parentActivityName=".activity.brasilA2022.MainActivity"/>
        <activity
            android:name=".activity.espanhaA2022a23.RealSociedadActivity"
            android:exported="true"
            android:label="@string/real_sociedad"
            android:parentActivityName=".activity.brasilA2022.MainActivity"/>
        <activity
            android:name=".activity.espanhaA2022a23.RealMadridActivity"
            android:exported="true"
            android:label="@string/real_madrid"
            android:parentActivityName=".activity.brasilA2022.MainActivity"/>
        <activity
            android:name=".activity.espanhaA2022a23.RealBetisActivity"
            android:exported="true"
            android:label="@string/real_betis"
            android:parentActivityName=".activity.brasilA2022.MainActivity"/>
        <activity
            android:name=".activity.espanhaA2022a23.RayoVallecanoActivity"
            android:exported="true"
            android:label="@string/rayo_vallecano"
            android:parentActivityName=".activity.brasilA2022.MainActivity"/>
        <activity
            android:name=".activity.espanhaA2022a23.OsasunaActivity"
            android:exported="true"
            android:label="@string/osasuna"
            android:parentActivityName=".activity.brasilA2022.MainActivity"/>
        <activity
            android:name=".activity.espanhaA2022a23.MallorcaActivity"
            android:exported="true"
            android:label="@string/mallorca"
            android:parentActivityName=".activity.brasilA2022.MainActivity"/>
        <activity
            android:name=".activity.espanhaA2022a23.GironaActivity"
            android:exported="true"
            android:label="@string/girona"
            android:parentActivityName=".activity.brasilA2022.MainActivity"/>
        <activity
            android:name=".activity.espanhaA2022a23.GetafeActivity"
            android:exported="true"
            android:label="@string/getafe"
            android:parentActivityName=".activity.brasilA2022.MainActivity"/>
        <activity
            android:name=".activity.espanhaA2022a23.EspanyolActivity"
            android:exported="true"
            android:label="@string/espanyol"
            android:parentActivityName=".activity.brasilA2022.MainActivity"/>
        <activity
            android:name=".activity.espanhaA2022a23.ElcheActivity"
            android:exported="true"
            android:label="@string/elche"
            android:parentActivityName=".activity.brasilA2022.MainActivity"/>
        <activity
            android:name=".activity.espanhaA2022a23.CeltaVigoActivity"
            android:exported="true"
            android:label="@string/celta_vigo"
            android:parentActivityName=".activity.brasilA2022.MainActivity"/>
        <activity
            android:name=".activity.espanhaA2022a23.CadizActivity"
            android:exported="true"
            android:label="@string/cadiz"
            android:parentActivityName=".activity.brasilA2022.MainActivity"/>
        <activity
            android:name=".activity.espanhaA2022a23.BarcelonaActivity"
            android:exported="true"
            android:label="@string/barcelona"
            android:parentActivityName=".activity.brasilA2022.MainActivity"/>
        <activity
            android:name=".activity.espanhaA2022a23.AtleticoMadridActivity"
            android:exported="true"
            android:label="@string/atletico_madrid"
            android:parentActivityName=".activity.brasilA2022.MainActivity"/>
        <activity
            android:name=".activity.espanhaA2022a23.AthleticBilbaoActivity"
            android:exported="true"
            android:label="@string/athletic_bilbao"
            android:parentActivityName=".activity.brasilA2022.MainActivity"/>
        <activity
            android:name=".activity.espanhaA2022a23.AlmeriaActivity"
            android:exported="true"
            android:label="@string/almeria"
            android:parentActivityName=".activity.brasilA2022.MainActivity"/>
        <activity
            android:name=".activity.alemanhaA2022a23.WolfsburgActivity"
            android:exported="true"
            android:label="@string/wolfsburg"
            android:parentActivityName=".activity.brasilA2022.MainActivity"/>
        <activity
            android:name=".activity.alemanhaA2022a23.WerderBremenActivity"
            android:exported="true"
            android:label="@string/werder_bremen"
            android:parentActivityName=".activity.brasilA2022.MainActivity"/>
        <activity
            android:name=".activity.alemanhaA2022a23.UnionBerlinActivity"
            android:exported="true"
            android:label="@string/union_berlin"
            android:parentActivityName=".activity.brasilA2022.MainActivity"/>
        <activity
            android:name=".activity.alemanhaA2022a23.StuttgartActivity"
            android:exported="true"
            android:label="@string/stuttgart"
            android:parentActivityName=".activity.brasilA2022.MainActivity"/>
        <activity
            android:name=".activity.alemanhaA2022a23.Schalke04Activity"
            android:exported="true"
            android:label="@string/schalke_04"
            android:parentActivityName=".activity.brasilA2022.MainActivity"/>
        <activity
            android:name=".activity.alemanhaA2022a23.RBLeipzigActivity"
            android:exported="true"
            android:label="@string/leipzig"
            android:parentActivityName=".activity.brasilA2022.MainActivity"/>
        <activity
            android:name=".activity.alemanhaA2022a23.Mainz05Activity"
            android:exported="true"
            android:label="@string/mainz_05"
            android:parentActivityName=".activity.brasilA2022.MainActivity"/>
        <activity
            android:name=".activity.alemanhaA2022a23.HoffenheimActivity"
            android:exported="true"
            android:label="@string/hoffenheim"
            android:parentActivityName=".activity.brasilA2022.MainActivity"/>
        <activity
            android:name=".activity.alemanhaA2022a23.HerthaBerlinActivity"
            android:exported="true"
            android:label="@string/hertha_berlin"
            android:parentActivityName=".activity.brasilA2022.MainActivity"/>
        <activity
            android:name=".activity.alemanhaA2022a23.FreiburgActivity"
            android:exported="true"
            android:label="@string/freiburg"
            android:parentActivityName=".activity.brasilA2022.MainActivity"/>
        <activity
            android:name=".activity.alemanhaA2022a23.EintrachtFrankfurtActivity"
            android:exported="true"
            android:label="@string/eintracht_frankfurt"
            android:parentActivityName=".activity.brasilA2022.MainActivity"/>
        <activity
            android:name=".activity.alemanhaA2022a23.KolnActivity"
            android:exported="true"
            android:label="@string/koln"
            android:parentActivityName=".activity.brasilA2022.MainActivity"/>
        <activity
            android:name=".activity.alemanhaA2022a23.BorussiaMonchengladbachActivity"
            android:exported="true"
            android:label="@string/borussia_monchenglad"
            android:parentActivityName=".activity.brasilA2022.MainActivity"/>
        <activity
            android:name=".activity.alemanhaA2022a23.BorussiaDortmundActivity"
            android:exported="true"
            android:label="@string/borussia_dortmund"
            android:parentActivityName=".activity.brasilA2022.MainActivity"/>
        <activity
            android:name=".activity.alemanhaA2022a23.BochumActivity"
            android:exported="true"
            android:label="@string/bochum"
            android:parentActivityName=".activity.brasilA2022.MainActivity"/>
        <activity
            android:name=".activity.alemanhaA2022a23.BayernMuniqueActivity"
            android:exported="true"
            android:label="@string/bayer_munique"
            android:parentActivityName=".activity.brasilA2022.MainActivity"/>
        <activity
            android:name=".activity.alemanhaA2022a23.BayerLeverkusenActivity"
            android:exported="true"
            android:label="@string/bayer_leverkusen"
            android:parentActivityName=".activity.brasilA2022.MainActivity"/>
        <activity
            android:name=".activity.alemanhaA2022a23.AugsburgActivity"
            android:exported="true"
            android:label="@string/augsburg"
            android:parentActivityName=".activity.brasilA2022.MainActivity"/>
        <activity
            android:name=".activity.inglesA2022a23.WolverhamptonActivity"
            android:exported="true"
            android:label="@string/wolverhampton"
            android:parentActivityName=".activity.brasilA2022.MainActivity"/>
        <activity
            android:name=".activity.inglesA2022a23.WesthamActivity"
            android:exported="true"
            android:label="@string/west_ham"
            android:parentActivityName=".activity.brasilA2022.MainActivity"/>
        <activity
            android:name=".activity.inglesA2022a23.TottenhamActivity"
            android:exported="true"
            android:label="@string/tottenham"
            android:parentActivityName=".activity.brasilA2022.MainActivity"/>
        <activity
            android:name=".activity.inglesA2022a23.SouthamptonActivity"
            android:exported="true"
            android:label="@string/southampton"
            android:parentActivityName=".activity.brasilA2022.MainActivity"/>
        <activity
            android:name=".activity.inglesA2022a23.NottinghamForestActivity"
            android:exported="true"
            android:label="@string/nottingham_forest"
            android:parentActivityName=".activity.brasilA2022.MainActivity"/>
        <activity
            android:name=".activity.inglesA2022a23.NewcastleActivity"
            android:exported="true"
            android:label="@string/newcastle"
            android:parentActivityName=".activity.brasilA2022.MainActivity"/>
        <activity
            android:name=".activity.inglesA2022a23.ManchesterUnitedActivity"
            android:exported="true"
            android:label="@string/manchester_united"
            android:parentActivityName=".activity.brasilA2022.MainActivity"/>
        <activity
            android:name=".activity.inglesA2022a23.ManchesterCityActivity"
            android:exported="true"
            android:label="@string/manchester_city"
            android:parentActivityName=".activity.brasilA2022.MainActivity" />
        <activity
            android:name=".activity.inglesA2022a23.LiverpoolActivity"
            android:exported="true"
            android:label="@string/liverpool"
            android:parentActivityName=".activity.brasilA2022.MainActivity"/>
        <activity
            android:name=".activity.inglesA2022a23.LeicesterActivity"
            android:exported="true"
            android:label="@string/leicester"
            android:parentActivityName=".activity.brasilA2022.MainActivity"/>
        <activity
            android:name=".activity.inglesA2022a23.LeedsUnitedActivity"
            android:exported="true"
            android:label="@string/leeds_united"
            android:parentActivityName=".activity.brasilA2022.MainActivity"/>
        <activity
            android:name=".activity.inglesA2022a23.FulhamActivity"
            android:exported="true"
            android:label="@string/fulham"
            android:parentActivityName=".activity.brasilA2022.MainActivity"/>
        <activity
            android:name=".activity.inglesA2022a23.EvertonActivity"
            android:exported="true"
            android:label="@string/everton"
            android:parentActivityName=".activity.brasilA2022.MainActivity"/>
        <activity
            android:name=".activity.inglesA2022a23.CrystalPalaceActivity"
            android:exported="true"
            android:label="@string/crystal_palace"
            android:parentActivityName=".activity.brasilA2022.MainActivity"/>
        <activity
            android:name=".activity.inglesA2022a23.ChelseaActivity"
            android:exported="true"
            android:label="@string/chelsea"
            android:parentActivityName=".activity.brasilA2022.MainActivity"/>
        <activity
            android:name=".activity.inglesA2022a23.BrentfordActivity"
            android:exported="true"
            android:label="@string/brentford"
            android:parentActivityName=".activity.brasilA2022.MainActivity"/>
        <activity
            android:name=".activity.inglesA2022a23.BournemouthActivity"
            android:exported="true"
            android:label="@string/bournemouth"
            android:parentActivityName=".activity.brasilA2022.MainActivity"/>
        <activity
            android:name=".activity.inglesA2022a23.AstonVillaActivity"
            android:exported="true"
            android:label="@string/aston_villa"
            android:parentActivityName=".activity.brasilA2022.MainActivity"/>
        <activity
            android:name=".activity.inglesA2022a23.ArsenalActivity"
            android:exported="true"
            android:label="@string/arsenal"
            android:parentActivityName=".activity.brasilA2022.MainActivity"/>
        <activity
            android:name=".activity.inglesA2022a23.BrightonActivity"
            android:exported="true"
            android:label="@string/brighton"
            android:parentActivityName=".activity.brasilA2022.MainActivity"/>
        <activity
            android:name=".activity.brasilA2022.AtleticoMgActivity"
            android:exported="true"
            android:label="@string/atletico_mg"
            android:parentActivityName=".activity.brasilA2022.MainActivity"/>
        <activity
            android:name=".activity.brasilA2022.InternacionalActivity"
            android:exported="true"
            android:label="@string/internacional"
            android:parentActivityName=".activity.brasilA2022.MainActivity"/>
        <activity
            android:name=".activity.brasilA2022.SaoPauloActivity"
            android:exported="true"
            android:label="@string/sao_paulo"
            android:parentActivityName=".activity.brasilA2022.MainActivity"/>
        <activity
            android:name=".activity.brasilA2022.SantosActivity"
            android:exported="true"
            android:label="@string/santos"
            android:parentActivityName=".activity.brasilA2022.MainActivity"/>
        <activity
            android:name=".activity.brasilA2022.PalmeirasActivity"
            android:exported="true"
            android:label="@string/palmeiras"
            android:parentActivityName=".activity.brasilA2022.MainActivity"/>
        <activity
            android:name=".activity.brasilA2022.JuventudeActivity"
            android:exported="true"
            android:label="@string/juventude"
            android:parentActivityName=".activity.brasilA2022.MainActivity"/>
        <activity
            android:name=".activity.brasilA2022.GoiasActivity"
            android:exported="true"
            android:label="@string/goias"
            android:parentActivityName=".activity.brasilA2022.MainActivity"/>
        <activity
            android:name=".activity.brasilA2022.FortalezaActivity"
            android:exported="true"
            android:label="@string/fortaleza"
            android:parentActivityName=".activity.brasilA2022.MainActivity"/>
        <activity
            android:name=".activity.brasilA2022.FluminenseActivity"
            android:exported="true"
            android:label="@string/fluminense"
            android:parentActivityName=".activity.brasilA2022.MainActivity"/>
        <activity
            android:name=".activity.brasilA2022.FlamengoActivity"
            android:exported="true"
            android:label="@string/flamengo"
            android:parentActivityName=".activity.brasilA2022.MainActivity"/>
        <activity
            android:name=".activity.brasilA2022.CuiabaActivity"
            android:exported="true"
            android:label="@string/cuiaba"
            android:parentActivityName=".activity.brasilA2022.MainActivity"/>
        <activity
            android:name=".activity.brasilA2022.CoritibaActivity"
            android:exported="true"
            android:label="@string/coritiba"
            android:parentActivityName=".activity.brasilA2022.MainActivity"/>
        <activity
            android:name=".activity.brasilA2022.CorinthiansActivity"
            android:exported="true"
            android:label="@string/corinthians"
            android:parentActivityName=".activity.brasilA2022.MainActivity"/>
        <activity
            android:name=".activity.brasilA2022.BragantinoActivity"
            android:exported="true"
            android:label="@string/bragantino"
            android:parentActivityName=".activity.brasilA2022.MainActivity"/>
        <activity
            android:name=".activity.brasilA2022.BotafogoActivity"
            android:exported="true"
            android:label="@string/botafogo"
            android:parentActivityName=".activity.brasilA2022.MainActivity"/>
        <activity
            android:name=".activity.brasilA2022.AvaiActivity"
            android:exported="true"
            android:label="@string/avai"
            android:parentActivityName=".activity.brasilA2022.MainActivity"/>
        <activity
            android:name=".activity.brasilA2022.AtleticoPrActivity"
            android:exported="true"
            android:label="@string/atletico_pr"
            android:parentActivityName=".activity.brasilA2022.MainActivity"/>
        <activity
            android:name=".activity.brasilA2022.AtleticoGoActivity"
            android:exported="true"
            android:label="@string/atletico_go"
            android:parentActivityName=".activity.brasilA2022.MainActivity"/>
        <activity
            android:name=".activity.brasilA2022.AmericaMgActivity"
            android:parentActivityName=".activity.brasilA2022.MainActivity"
            android:label="@string/america_mg"
            android:exported="true" />
        <activity
            android:name=".activity.brasilA2022.CearaActivity"
            android:exported="true"
            android:label="@string/ceara"
            android:parentActivityName=".activity.brasilA2022.MainActivity"/>
        <activity
            android:name=".activity.brasilA2022.MainActivity"
            android:label="@string/app_name"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-9829174762244357~7615347741"
            />

    </application>

</manifest>