<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DadosDosJogos2020Oficial">
        <activity
            android:name=".activity.carregarDadosActivity.CarregarDadosFragmentsActivity"
            android:exported="false" />
        <activity
            android:name=".activity.europa_A_2024_2025.premierLeague.PremierLeague2024_25Activity"
            android:exported="false" />
        <activity
            android:name=".activity.europa_A_2024_2025.ligaPortugal.PrimeiraLigaPorgugalActivity"
            android:exported="false" />
        <activity
            android:name=".activity.europa_A_2024_2025.bundesliga.Bundesliga2024_25Activity"
            android:exported="false" />

        <property
            android:name="android.adservices.AD_SERVICES_CONFIG"
            android:resource="@xml/ga_ad_services_config"
            tools:replace="android:resource" />

        <activity
            android:name=".activity.europa_A_2024_2025.serieA.SerieA2024_25Activity"
            android:exported="false" />
        <activity
            android:name=".activity.europa_A_2024_2025.laLiga.LaLiga2024_25Activity"
            android:exported="false" />
        <activity
            android:name=".activity.europa_A_2024_2025.eredivisie.Zwolle2024_25Activity"
            android:exported="false" />
        <activity
            android:name=".activity.europa_A_2024_2025.eredivisie.WillemII2024_25Activity"
            android:exported="false" />
        <activity
            android:name=".activity.europa_A_2024_2025.eredivisie.Waalwijk2024_25Activity"
            android:exported="false" />
        <activity
            android:name=".activity.europa_A_2024_2025.eredivisie.Utrecht2024_25Activity"
            android:exported="false" />
        <activity
            android:name=".activity.europa_A_2024_2025.eredivisie.Twente2024_25Activity"
            android:exported="false" />
        <activity
            android:name=".activity.europa_A_2024_2025.eredivisie.Sparta2024_25Activity"
            android:exported="false" />
        <activity
            android:name=".activity.europa_A_2024_2025.eredivisie.Psv2024_25Activity"
            android:exported="false" />
        <activity
            android:name=".activity.europa_A_2024_2025.eredivisie.Nec2024_25Activity"
            android:exported="false" />
        <activity
            android:name=".activity.europa_A_2024_2025.eredivisie.NacBreda2024_25Activity"
            android:exported="false" />
        <activity
            android:name=".activity.europa_A_2024_2025.eredivisie.Heracles2024_25Activity"
            android:exported="false" />
        <activity
            android:name=".activity.europa_A_2024_2025.eredivisie.Heerenveen2024_25Activity"
            android:exported="false" />
        <activity
            android:name=".activity.europa_A_2024_2025.eredivisie.Groningen2024_25Activity"
            android:exported="false" />
        <activity
            android:name=".activity.europa_A_2024_2025.eredivisie.GaEagles2024_25Activity"
            android:exported="false" />
        <activity
            android:name=".activity.europa_A_2024_2025.eredivisie.Fortuna2024_25Activity"
            android:exported="false" />
        <activity
            android:name=".activity.europa_A_2024_2025.eredivisie.Feyenoord2024_25Activity"
            android:exported="false" />
        <activity
            android:name=".activity.europa_A_2024_2025.eredivisie.Az2024_25Activity"
            android:exported="false" />
        <activity
            android:name=".activity.europa_A_2024_2025.eredivisie.AlmereCity2024_25Activity"
            android:exported="false" />
        <activity
            android:name=".activity.europa_A_2024_2025.eredivisie.Ajax2024_25Activity"
            android:exported="false" />
        <activity
            android:name=".activity.europa_A_2024_2025.primeiraLiga.Vitoria2024_25Activity"
            android:exported="false" />
        <activity
            android:name=".activity.europa_A_2024_2025.primeiraLiga.Sporting2024_25Activity"
            android:exported="false" />
        <activity
            android:name=".activity.europa_A_2024_2025.primeiraLiga.SantaClara2024_25Activity"
            android:exported="false" />
        <activity
            android:name=".activity.europa_A_2024_2025.primeiraLiga.RioAve2024_25Activity"
            android:exported="false" />
        <activity
            android:name=".activity.europa_A_2024_2025.primeiraLiga.Porto2024_25Activity"
            android:exported="false" />
        <activity
            android:name=".activity.europa_A_2024_2025.primeiraLiga.Nacional2024_25Activity"
            android:exported="false" />
        <activity
            android:name=".activity.europa_A_2024_2025.primeiraLiga.Moreirense2024_25Activity"
            android:exported="false" />
        <activity
            android:name=".activity.europa_A_2024_2025.primeiraLiga.GilVicente2024_25Activity"
            android:exported="false" />
        <activity
            android:name=".activity.europa_A_2024_2025.primeiraLiga.Farense2024_25Activity"
            android:exported="false" />
        <activity
            android:name=".activity.europa_A_2024_2025.primeiraLiga.Famalicao2024_25Activity"
            android:exported="false" />
        <activity
            android:name=".activity.europa_A_2024_2025.primeiraLiga.EstrelaAmadora2024_25Activity"
            android:exported="false" />
        <activity
            android:name=".activity.europa_A_2024_2025.primeiraLiga.Estoril2024_25Activity"
            android:exported="false" />
        <activity
            android:name=".activity.europa_A_2024_2025.primeiraLiga.CasaPia2024_25Activity"
            android:exported="false" />
        <activity
            android:name=".activity.europa_A_2024_2025.primeiraLiga.Braga2024_25Activity"
            android:exported="false" />
        <activity
            android:name=".activity.europa_A_2024_2025.primeiraLiga.Boavista2024_25Activity"
            android:exported="false" />
        <activity
            android:name=".activity.europa_A_2024_2025.primeiraLiga.Benfica2024_25Activity"
            android:exported="false" />
        <activity
            android:name=".activity.europa_A_2024_2025.primeiraLiga.Avs2024_25Activity"
            android:exported="false" />
        <activity
            android:name=".activity.europa_A_2024_2025.primeiraLiga.Arouca2024_25Activity"
            android:exported="false" />
        <activity
            android:name=".activity.europa_A_2024_2025.ligue1.Toulouse2024_25Activity"
            android:exported="false" />
        <activity
            android:name=".activity.europa_A_2024_2025.ligue1.Strasbourg2024_25Activity"
            android:exported="false" />
        <activity
            android:name=".activity.europa_A_2024_2025.ligue1.SaintEtienne2024_25Activity"
            android:exported="false" />
        <activity
            android:name=".activity.europa_A_2024_2025.ligue1.Rennes2024_25Activity"
            android:exported="false" />
        <activity
            android:name=".activity.europa_A_2024_2025.ligue1.Reims2024_25Activity"
            android:exported="false" />
        <activity
            android:name=".activity.europa_A_2024_2025.ligue1.Psg2024_25Activity"
            android:exported="false" />
        <activity
            android:name=".activity.europa_A_2024_2025.ligue1.Nice2024_25Activity"
            android:exported="false" />
        <activity
            android:name=".activity.europa_A_2024_2025.ligue1.Nantes2024_25Activity"
            android:exported="false" />
        <activity
            android:name=".activity.europa_A_2024_2025.ligue1.Montpellier2024_25Activity"
            android:exported="false" />
        <activity
            android:name=".activity.europa_A_2024_2025.ligue1.Marseille2024_25Activity"
            android:exported="false" />
        <activity
            android:name=".activity.europa_A_2024_2025.ligue1.Lyon2024_25Activity"
            android:exported="false" />
        <activity
            android:name=".activity.europa_A_2024_2025.ligue1.Lille2024_25Activity"
            android:exported="false" />
        <activity
            android:name=".activity.europa_A_2024_2025.ligue1.Lens2024_25Activity"
            android:exported="false" />
        <activity
            android:name=".activity.europa_A_2024_2025.ligue1.LeHavre2024_25Activity"
            android:exported="false" />
        <activity
            android:name=".activity.europa_A_2024_2025.ligue1.Brest2024_25Activity"
            android:exported="false" />
        <activity
            android:name=".activity.europa_A_2024_2025.ligue1.Auxerre2024_25Activity"
            android:exported="false" />
        <activity
            android:name=".activity.europa_A_2024_2025.ligue1.Angers2024_25Activity"
            android:exported="false" />
        <activity
            android:name=".activity.europa_A_2024_2025.bundesliga.Wolfsburg2024_25Activity"
            android:exported="false" />
        <activity
            android:name=".activity.europa_A_2024_2025.bundesliga.UnionBerlin2024_25Activity"
            android:exported="false" />
        <activity
            android:name=".activity.europa_A_2024_2025.bundesliga.Stuttgart2024_25Activity"
            android:exported="false" />
        <activity
            android:name=".activity.europa_A_2024_2025.bundesliga.StPauli2024_25Activity"
            android:exported="false" />
        <activity
            android:name=".activity.europa_A_2024_2025.bundesliga.Mainz05_2024_25Activity"
            android:exported="false" />
        <activity
            android:name=".activity.europa_A_2024_2025.bundesliga.Mgladbach2024_25Activity"
            android:exported="false" />
        <activity
            android:name=".activity.europa_A_2024_2025.bundesliga.Leipzig2024_25Activity"
            android:exported="false" />
        <activity
            android:name=".activity.europa_A_2024_2025.bundesliga.Leverkusen2024_25Activity"
            android:exported="false" />
        <activity
            android:name=".activity.europa_A_2024_2025.bundesliga.Kiel2024_25Activity"
            android:exported="false" />
        <activity
            android:name=".activity.europa_A_2024_2025.bundesliga.Hoffenheim2024_25Activity"
            android:exported="false" />
        <activity
            android:name=".activity.europa_A_2024_2025.bundesliga.Heidenheim2024_25Activity"
            android:exported="false" />
        <activity
            android:name=".activity.europa_A_2024_2025.bundesliga.Freiburg2024_25Activity"
            android:exported="false" />
        <activity
            android:name=".activity.europa_A_2024_2025.bundesliga.Frankfurt2024_25Activity"
            android:exported="false" />
        <activity
            android:name=".activity.europa_A_2024_2025.bundesliga.Dortmund2024_25Activity"
            android:exported="false" />
        <activity
            android:name=".activity.europa_A_2024_2025.bundesliga.Bremen2024_25Activity"
            android:exported="false" />
        <activity
            android:name=".activity.europa_A_2024_2025.bundesliga.Bochum2024_25Activity"
            android:exported="false" />
        <activity
            android:name=".activity.europa_A_2024_2025.bundesliga.Bayern2024_25Activity"
            android:exported="false" />
        <activity
            android:name=".activity.europa_A_2024_2025.bundesliga.Augsburg2024_25Activity"
            android:exported="false" />
        <activity
            android:name=".activity.europa_A_2024_2025.premierLeague.Southampton2024_25Activity"
            android:exported="false" />
        <activity
            android:name=".activity.europa_A_2024_2025.premierLeague.Ipswich2024_25Activity"
            android:exported="false" />
        <activity
            android:name=".activity.europa_A_2024_2025.premierLeague.LeicesterCity2024_25Activity"
            android:exported="false" />
        <activity
            android:name=".activity.europa_A_2024_2025.premierLeague.ManchesterUnited2024_25Activity"
            android:exported="false" />
        <activity
            android:name=".activity.europa_A_2024_2025.premierLeague.Wolves2024_25Activity"
            android:exported="false" />
        <activity
            android:name=".activity.europa_A_2024_2025.premierLeague.WestHam2024_25Activity"
            android:exported="false" />
        <activity
            android:name=".activity.europa_A_2024_2025.premierLeague.Tottenham2024_25Activity"
            android:exported="false" />
        <activity
            android:name=".activity.europa_A_2024_2025.premierLeague.Nottingham2024_25Activity"
            android:exported="false" />
        <activity
            android:name=".activity.europa_A_2024_2025.premierLeague.Newcastle2024_25Activity"
            android:exported="false" />
        <activity
            android:name=".activity.europa_A_2024_2025.premierLeague.ManchesterCity2024_25Activity"
            android:exported="false" />
        <activity
            android:name=".activity.europa_A_2024_2025.premierLeague.Liverpool2024_25Activity"
            android:exported="false" />
        <activity
            android:name=".activity.europa_A_2024_2025.premierLeague.Fulham2024_25Activity"
            android:exported="false" />
        <activity
            android:name=".activity.europa_A_2024_2025.premierLeague.Evernton2024_25Activity"
            android:exported="false" />
        <activity
            android:name=".activity.europa_A_2024_2025.premierLeague.CrystalPalace2024_25Activity"
            android:exported="false" />
        <activity
            android:name=".activity.europa_A_2024_2025.premierLeague.Chelsea2024_25Activity"
            android:exported="false" />
        <activity
            android:name=".activity.europa_A_2024_2025.premierLeague.Brighton2024_25Activity"
            android:exported="false" />
        <activity
            android:name=".activity.europa_A_2024_2025.premierLeague.Brentford2024_25Activity"
            android:exported="false" />
        <activity
            android:name=".activity.europa_A_2024_2025.premierLeague.Bournemouth2024_25Activity"
            android:exported="false" />
        <activity
            android:name=".activity.europa_A_2024_2025.premierLeague.AstonVilla2024_25Activity"
            android:exported="false" />
        <activity
            android:name=".activity.europa_A_2024_2025.premierLeague.Arsenal2024_25Activity"
            android:exported="false" />
        <activity
            android:name=".activity.americadosul.argentina.Gimnasia2024Activity"
            android:exported="false" />
        <activity
            android:name=".activity.americadosul.argentina.VelezSarsfield2024Activity"
            android:exported="false" />
        <activity
            android:name=".activity.americadosul.argentina.UnionSanteFe2024Activity"
            android:exported="false" />
        <activity
            android:name=".activity.americadosul.argentina.Tigre2024Activity"
            android:exported="false" />
        <activity
            android:name=".activity.americadosul.argentina.Talleres2024Activity"
            android:exported="false" />
        <activity
            android:name=".activity.americadosul.argentina.Sarmiento2024Activity"
            android:exported="false" />
        <activity
            android:name=".activity.americadosul.argentina.SanLorenzo2024Activity"
            android:exported="false" />
        <activity
            android:name=".activity.americadosul.argentina.RosarioCentral2024Activity"
            android:exported="false" />
        <activity
            android:name=".activity.americadosul.argentina.RiverPlate2024Activity"
            android:exported="false" />
        <activity
            android:name=".activity.americadosul.argentina.Racing2024Activity"
            android:exported="false" />
        <activity
            android:name=".activity.americadosul.argentina.Platense2024Activity"
            android:exported="false" />
        <activity
            android:name=".activity.americadosul.argentina.NewellOldBoys2024Activity"
            android:exported="false" />
        <activity
            android:name=".activity.americadosul.argentina.Lanus2024Activity"
            android:exported="false" />
        <activity
            android:name=".activity.americadosul.argentina.Instituto2024Activity"
            android:exported="false" />
        <activity
            android:name=".activity.americadosul.argentina.IndependienteRivadavia2024Activity"
            android:exported="false" />
        <activity
            android:name=".activity.americadosul.argentina.Independiente2024Activity"
            android:exported="false" />
        <activity
            android:name=".activity.americadosul.argentina.Huracan2024Activity"
            android:exported="false" />
        <activity
            android:name=".activity.americadosul.argentina.GodoyCruz2024Activity"
            android:exported="false" />
        <activity
            android:name=".activity.americadosul.argentina.EstudiantesLaPrata2024Activity"
            android:exported="false" />
        <activity
            android:name=".activity.americadosul.argentina.DeportivoRiestra2024Activity"
            android:exported="false" />
        <activity
            android:name=".activity.americadosul.argentina.DefensaJusticia2024Activity"
            android:exported="false" />
        <activity
            android:name=".activity.americadosul.argentina.CentralCordoba2024Activity"
            android:exported="false" />
        <activity
            android:name=".activity.americadosul.argentina.BocaJuniors2024Activity"
            android:exported="false" />
        <activity
            android:name=".activity.americadosul.argentina.Belgrano2024Activity"
            android:exported="false" />
        <activity
            android:name=".activity.americadosul.argentina.BarracasCentral2024Activity"
            android:exported="false" />
        <activity
            android:name=".activity.americadosul.argentina.Banfield2024Activity"
            android:exported="false" />
        <activity
            android:name=".activity.americadosul.argentina.ArgentinoJuniors2024Activity"
            android:exported="false" />
        <activity
            android:name=".activity.americadosul.argentina.AtleticoTucuman2024Activity"
            android:exported="false" />
        <activity
            android:name=".activity.brasil.serieB2024.Amazonas2024Activity"
            android:exported="false" />
        <activity
            android:name=".activity.brasil.serieB2024.VilaNova2024Activity"
            android:exported="false" />
        <activity
            android:name=".activity.brasil.serieB2024.Sport2024Activity"
            android:exported="false" />
        <activity
            android:name=".activity.brasil.serieB2024.Santos2024Activity"
            android:exported="false" />
        <activity
            android:name=".activity.brasil.serieB2024.PontePreta2024Activity"
            android:exported="false" />
        <activity
            android:name=".activity.brasil.serieB2024.Paysandu2024Activity"
            android:exported="false" />
        <activity
            android:name=".activity.brasil.serieB2024.Mirassol2024Activity"
            android:exported="false" />
        <activity
            android:name=".activity.brasil.serieB2024.Operario2024Activity"
            android:exported="false" />
        <activity
            android:name=".activity.brasil.serieB2024.Novorizontino2024Activity"
            android:exported="false" />
        <activity
            android:name=".activity.brasil.serieB2024.Ituano2024Activity"
            android:exported="false" />
        <activity
            android:name=".activity.brasil.serieB2024.Guarani2024Activity"
            android:exported="false" />
        <activity
            android:name=".activity.brasil.serieB2024.Goias2024Activity"
            android:exported="false" />
        <activity
            android:name=".activity.brasil.serieB2024.Coritiba2024Activity"
            android:exported="false" />
        <activity
            android:name=".activity.brasil.serieB2024.Chapecoense2024Activity"
            android:exported="false" />
        <activity
            android:name=".activity.brasil.serieB2024.Crb2024Activity"
            android:exported="false" />
        <activity
            android:name=".activity.brasil.serieB2024.Brusque2024Activity"
            android:exported="false" />
        <activity
            android:name=".activity.brasil.serieB2024.BotafogoSP2024Activity"
            android:exported="false" />
        <activity
            android:name=".activity.brasil.serieB2024.Avai2024Activity"
            android:exported="false" />
        <activity
            android:name=".activity.brasil.serieB2024.AmericaMG2024Activity"
            android:exported="false" />
        <activity
            android:name=".activity.brasil.serieB2024.Ceara2024Activity"
            android:exported="false" />
        <activity
            android:name=".activity.brasil.serieA2024.AtleticoPR2024Activity"
            android:exported="false"
            android:label="@string/atletico_pr"
            android:parentActivityName=".activity.brasil.serieA2024.AtleticoPR2024Activity" />
        <activity
            android:name=".activity.brasil.serieA2024.Vitoria2024Activity"
            android:exported="false"
            android:label="@string/vitoria"
            android:parentActivityName=".activity.brasil.serieA2024.AtleticoPR2024Activity" />
        <activity
            android:name=".activity.brasil.serieA2024.Vasco2024Activity"
            android:exported="false"
            android:label="@string/vasco"
            android:parentActivityName=".activity.brasil.serieA2024.AtleticoPR2024Activity" />
        <activity
            android:name=".activity.brasil.serieA2024.SaoPaulo2024Activity"
            android:exported="false"
            android:label="@string/sao_paulo"
            android:parentActivityName=".activity.brasil.serieA2024.AtleticoPR2024Activity" />
        <activity
            android:name=".activity.brasil.serieA2024.Palmeiras2024Activity"
            android:exported="false"
            android:label="@string/palmeiras"
            android:parentActivityName=".activity.brasil.serieA2024.AtleticoPR2024Activity" />
        <activity
            android:name=".activity.brasil.serieA2024.Juventude2024Activity"
            android:exported="false"
            android:label="@string/juventude"
            android:parentActivityName=".activity.brasil.serieA2024.AtleticoPR2024Activity" />
        <activity
            android:name=".activity.brasil.serieA2024.Internacional2024Activity"
            android:exported="false"
            android:label="@string/internacional"
            android:parentActivityName=".activity.brasil.serieA2024.AtleticoPR2024Activity" />
        <activity
            android:name=".activity.brasil.serieA2024.Gremio2024Activity"
            android:exported="false"
            android:label="@string/gremio"
            android:parentActivityName=".activity.brasil.serieA2024.AtleticoPR2024Activity" />
        <activity
            android:name=".activity.brasil.serieA2024.Fortaleza2024Activity"
            android:exported="false"
            android:label="@string/fortaleza"
            android:parentActivityName=".activity.brasil.serieA2024.AtleticoPR2024Activity" />
        <activity
            android:name=".activity.brasil.serieA2024.Fluminense2024Activity"
            android:exported="false"
            android:label="@string/fluminense"
            android:parentActivityName=".activity.brasil.serieA2024.AtleticoPR2024Activity" />
        <activity
            android:name=".activity.brasil.serieA2024.Flamengo2024Activity"
            android:exported="false"
            android:label="@string/flamengo"
            android:parentActivityName=".activity.brasil.serieA2024.AtleticoPR2024Activity" />
        <activity
            android:name=".activity.brasil.serieA2024.Cuiaba2024Activity"
            android:exported="false"
            android:label="@string/cuiaba"
            android:parentActivityName=".activity.brasil.serieA2024.AtleticoPR2024Activity" />
        <activity
            android:name=".activity.brasil.serieA2024.Cruzeiro2024Activity"
            android:exported="false"
            android:label="@string/cruzeiro"
            android:parentActivityName=".activity.brasil.serieA2024.AtleticoPR2024Activity" />
        <activity
            android:name=".activity.brasil.serieA2024.Criciuma2024Activity"
            android:exported="false"
            android:label="@string/criciuma"
            android:parentActivityName=".activity.brasil.serieA2024.AtleticoPR2024Activity" />
        <activity
            android:name=".activity.brasil.serieA2024.Corinthians2024Activity"
            android:exported="false"
            android:label="@string/corinthians"
            android:parentActivityName=".activity.brasil.serieA2024.AtleticoPR2024Activity" />
        <activity
            android:name=".activity.brasil.serieA2024.Bragantino2024Activity"
            android:exported="false"
            android:label="@string/bragantino"
            android:parentActivityName=".activity.brasil.serieA2024.AtleticoPR2024Activity" />
        <activity
            android:name=".activity.brasil.serieA2024.Botafogo2024Activity"
            android:exported="false"
            android:label="@string/botafogo"
            android:parentActivityName=".activity.brasil.serieA2024.AtleticoPR2024Activity" />
        <activity
            android:name=".activity.brasil.serieA2024.Bahia2024Activity"
            android:exported="false"
            android:label="@string/bahia"
            android:parentActivityName=".activity.brasil.serieA2024.AtleticoPR2024Activity" />
        <activity
            android:name=".activity.brasil.serieA2024.AtleticoMG2024Activity"
            android:exported="false"
            android:label="@string/atletico_mg"
            android:parentActivityName=".activity.brasil.serieA2024.AtleticoPR2024Activity" />
        <activity
            android:name=".activity.brasil.serieA2024.AtleticoGO2024Activity"
            android:exported="false"
            android:label="@string/atletico_go"
            android:parentActivityName=".activity.brasil.serieA2024.AtleticoPR2024Activity" /> <!-- Campeonato Alemão Serie A 2023 - 2024 -->
        <activity
            android:name=".activity.brasilA2022.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-1250849070449366~7005682770" />
    </application>

</manifest>